body {
    overflow-x: hidden
}
.img-swiper {
    height: 200px;
    overflow: hidden;
}
.img-swiper .swiper-container {
    width: 2000px;
    height: 180px;
    margin-top: 10px;
    position: absolute;
}

.img-swiper .swiper-container .swiper-item {
    height: 180px;
    text-align: center;
    float: left;
}
.img-swiper .swiper-container .swiper-item .img-item {
    height: 180px;
    border-radius: 10px;
    width: 90%;
}

.container {
    margin: 20px auto;
    position: relative;
    display: flex;
    width: 90%;
    z-index: 99;
    justify-content: space-around;
}

.container-class {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background: #1296db;
    text-align: center;
    flex-shrink: 1;
    border-radius: 10px;
}

.container-class image {
    width: 100%;
    height: 120px;
}

.container-s {
    z-index: 99;
}
.container-s button {
    border: none;
    background-color: #ccc;
}
.container-item {
    outline: none;
    background: #f4f4f4;
    margin-bottom: 15px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    -webkit-appearance: none;
}

.container-item image {
    padding: 10px;
    border-radius: 40px;
    background: #1296db;
    margin: 20px 15px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.container-item:active {
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.container-item-title {
    height: 85px;
    line-height: 40px;
    color: #515151;
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}